
    <header class="page-header">
        <div class="page-header-container">
        <nav class="page-navigation">
            <a class="page-logo" href="./index.html">
                yachtjet
            </a>
            <ul class="menu">
              <li class="menu-item">
                <button type="button" class="button-in-header current">
                <a class="menu-link " href="./index.html">About</a>
                </button>
              </li>
              <li class="menu-item">
                <button type="button" class="button-in-header">
                <a class="menu-link" href="">Yachts</a>
                </button>
              </li>
              <li class="menu-item">
                <button type="button" class="button-in-header">
                <a class="menu-link" href=""> Reviews </a>
                </button>
              </li>
            </ul>
          </nav>
          <!----------  soc link  -------- -->
          <div class="page-address">
            <ul class="soc-list">
              <li class="soc-item">
                <a class="soc-link" href="https://www.instagram.com/goitclub/">
                    <svg class="svg-soc-container-mobile" width="20" height="20">
                        <use href="./images/icons.svg#icon-instagram-link"></use>
                    </svg>
                </a>
              </li>
              <li>
                <a class="soc-link" href="https://www.instagram.com/goitclub/">
                    <svg class="svg-soc-container-mobile" width="20" height="20">
                        <use href="./images/symbol-defs.svg#icon-Vector-youtube"></use>
                    </svg>
                </a>
              </li>
              <li>
                <a class="soc-link" href="https://www.youtube.com/c/GoIT">
                    <svg class="svg-soc-container-mobile" width="20" height="20">
                        <use href="./images/icons.svg#icon-facebook-link"></use>
                    </svg>
                </a>
              </li>
            </ul>
        </div>
          <button class="open-menu-btn" type="button">
            <svg width="24" height="10">
              <use href="./images/icons.svg#icon-menu-icon"></use>
            </svg>
          </button>
        </div>   
 </div>
 <!--======== MOBILE MENU =======-->
   <div class="mobile-menu is-open">
      <div class="mobile-menu-container container">
       
        <nav class="mobile-navigation">
            <a class="page-mobile-logo" href="./index.html">
                yachtjet
            </a>
            <button class="mobile-menu-close">
                <svg class="modal-close-btn-icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-close-btn"></use>
                </svg>
              </button>
            </div>
        </nav>
              <div class="container-button">
            <ul class="mobile-menu-list">
              <li class="mobile-menu-item">
                <button type="button" class="button-in-mobile current-mobile">
                <a class="mobile-menu-link " href="./index.html">About</a>
                </button>
              </li>
              <li class="mobile-menu-item">
                <button type="button" class="button-in-mobile">
                <a class="mobile-menu-link" href="">Yachts</a>
                </button>
              </li>
              <li class="mobile-menu-item">
                <button type="button" class="button-in-mobile">
                <a class="mobile-menu-link" href=""> Reviews </a>
                </button>
              </li>
            </ul>
          </div>
          <!-- SOC LINK MOBILE -->
          <div class="container-svg-mobile">
            <ul class="soc-list-mobile">
              <li class="soc-item-mobile">
                <a class="soc-link-mobile" href="https://www.instagram.com/goitclub/">
                    <svg class="svg-soc-container-mobile-menu" width="20" height="20">
                        <use href="./images/icons.svg#icon-instagram-link"></use>
                    </svg>
                </a>
              </li>
              <li>
                <a class="soc-link-mobile" href="https://www.instagram.com/goitclub/">
                    <svg class="svg-soc-container-mobile-menu" width="20" height="20">
                        <use href="./images/symbol-defs.svg#icon-Vector-youtube"></use>
                    </svg>
                </a>
              </li>
              <li>
                <a class="soc-link-mobile" href="https://www.youtube.com/c/GoIT">
                    <svg class="svg-soc-container-mobile-menu" width="20" height="20">
                        <use href="./images/icons.svg#icon-facebook-link"></use>
                    </svg>
                </a>
              </li>
            </ul>
          </div>
          
      </div>
          


    </header>
